/* ------------------------
 *
 * Flex Grid
 * @see http://www.alsacreations.com/tuto/lire/1659-une-grille-responsive-avec-flexbox-et-LESS.html
 *
 */
[class*="grid-"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -4em;
}
[class*="grid-"] > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  /* IE fix */
  width: calc(100% * 1 / 4 - 4em);
  margin-left: 4em;
}
/* examples */
.grid-2 > * {
  width: calc(100% * 1 / 2 - 4em);
}
.grid-2 > .flexitem-double {
  width: calc(100% * 2 / 2 - 4em);
}
.grid-2 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-2 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-2 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-2 > * {
    width: calc(100% - 4em);
  }
  .grid-2 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-3 > * {
  width: calc(100% * 1 / 3 - 4em);
}
.grid-3 > .flexitem-double {
  width: calc(100% * 2 / 3 - 4em);
}
.grid-3 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-3 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-3 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-3 > * {
    width: calc(100% - 4em);
  }
  .grid-3 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-4 > * {
  width: calc(100% * 1 / 4 - 4em);
}
.grid-4 > .flexitem-double {
  width: calc(100% * 2 / 4 - 4em);
}
.grid-4 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-4 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-4 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-4 > * {
    width: calc(100% - 4em);
  }
  .grid-4 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-5 > * {
  width: calc(100% * 1 / 5 - 4em);
}
.grid-5 > .flexitem-double {
  width: calc(100% * 2 / 5 - 4em);
}
.grid-5 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-5 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-5 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-5 > * {
    width: calc(100% - 4em);
  }
  .grid-5 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-6 > * {
  width: calc(100% * 1 / 6 - 4em);
}
.grid-6 > .flexitem-double {
  width: calc(100% * 2 / 6 - 4em);
}
.grid-6 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-6 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-6 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-6 > * {
    width: calc(100% - 4em);
  }
  .grid-6 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-7 > * {
  width: calc(100% * 1 / 7 - 4em);
}
.grid-7 > .flexitem-double {
  width: calc(100% * 2 / 7 - 4em);
}
.grid-7 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-7 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-7 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-7 > * {
    width: calc(100% - 4em);
  }
  .grid-7 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-8 > * {
  width: calc(100% * 1 / 8 - 4em);
}
.grid-8 > .flexitem-double {
  width: calc(100% * 2 / 8 - 4em);
}
.grid-8 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-8 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-8 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-8 > * {
    width: calc(100% - 4em);
  }
  .grid-8 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-10 > * {
  width: calc(100% * 1 / 10 - 4em);
}
.grid-10 > .flexitem-double {
  width: calc(100% * 2 / 10 - 4em);
}
.grid-10 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-10 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-10 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-10 > * {
    width: calc(100% - 4em);
  }
  .grid-10 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-12 > * {
  width: calc(100% * 1 / 12 - 4em);
}
.grid-12 > .flexitem-double {
  width: calc(100% * 2 / 12 - 4em);
}
.grid-12 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-12 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-12 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-12 > * {
    width: calc(100% - 4em);
  }
  .grid-12 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
.grid-16 > * {
  width: calc(100% * 1 / 16 - 4em);
}
.grid-16 > .flexitem-double {
  width: calc(100% * 2 / 16 - 4em);
}
.grid-16 > .flexitem-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 481px) and (max-width: 768px) {
  .grid-16 > * {
    width: calc(100% * 1 / 2 - 4em);
  }
  .grid-16 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
@media (max-width: 480px) {
  .grid-16 > * {
    width: calc(100% - 4em);
  }
  .grid-16 > .flexitem-double {
    width: calc(100% - 4em);
  }
}
/* examples */
.grid-2-1 > *:nth-child(odd) {
  width: calc(66.66666666666666% - 4em);
}
.grid-2-1 > *:nth-child(even) {
  width: calc(33.33333333333333% - 4em);
}
@media (max-width: 480px) {
  .grid-2-1 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
.grid-1-2 > *:nth-child(odd) {
  width: calc(33.33333333333333% - 4em);
}
.grid-1-2 > *:nth-child(even) {
  width: calc(66.66666666666666% - 4em);
}
@media (max-width: 480px) {
  .grid-1-2 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
.grid-3-1 > *:nth-child(odd) {
  width: calc(75% - 4em);
}
.grid-3-1 > *:nth-child(even) {
  width: calc(25% - 4em);
}
@media (max-width: 480px) {
  .grid-3-1 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
.grid-1-3 > *:nth-child(odd) {
  width: calc(25% - 4em);
}
.grid-1-3 > *:nth-child(even) {
  width: calc(75% - 4em);
}
@media (max-width: 480px) {
  .grid-1-3 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
.grid-3-2 > *:nth-child(odd) {
  width: calc(60% - 4em);
}
.grid-3-2 > *:nth-child(even) {
  width: calc(40% - 4em);
}
@media (max-width: 480px) {
  .grid-3-2 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
.grid-2-3 > *:nth-child(odd) {
  width: calc(40% - 4em);
}
.grid-2-3 > *:nth-child(even) {
  width: calc(60% - 4em);
}
@media (max-width: 480px) {
  .grid-2-3 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
.grid-4-1 > *:nth-child(odd) {
  width: calc(80% - 4em);
}
.grid-4-1 > *:nth-child(even) {
  width: calc(20% - 4em);
}
@media (max-width: 480px) {
  .grid-4-1 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
.grid-1-4 > *:nth-child(odd) {
  width: calc(20% - 4em);
}
.grid-1-4 > *:nth-child(even) {
  width: calc(80% - 4em);
}
@media (max-width: 480px) {
  .grid-1-4 > *:nth-child(n) {
    width: calc(100% - 4em);
  }
}
