{{#if title}}
<h4><a href="#top">{{title}}&nbsp;&nbsp;&nbsp;<span class="octicon octicon-arrow-up"></span></a></h4>
{{/if}}
{{#if sections}}
<h5>Sommaire</h5>
<ul class="nav nav-list">
    {{#sections}}
    <li>{{{linkTo}}}</li>
    {{/sections}}
</ul>
{{/if}}
{{#unless sections}}
<h5>Headings</h5>
<ul class="nav nav-list">
    {{#each headings}}
    <li><a href="#{{id}}">{{text}}</a></li>
    {{/each}}
</ul>
{{/unless}}
<hr />
{{#if menu}}
<h5>Pages</h5>
<ul class="nav nav-list">
    {{#menu}}
    <li>{{{linkTo}}}</li>
    {{/menu}}
</ul>
{{/if}}
<!--
<div id="bottom_nav" class="clearfix">
    <nav>
        <a href="{{prev}}.html">Next</a>
        <a href="{{next}}.html">Previous</a>
    </nav>
</div>
-->
