@tiny-screen : 480px; // tiny screens media query (less than 480px)
@small-screen : 768px; // screens between 481px and 768px
@medium-screen : 1024px; // screens between 769px and 1024px
@large-screen : 1280px; // screens between 1025px and 1280px

/** -----------------------------------------------------
 *
 * Functions
 *
 */

.clearfixed() {
    &:after {
        content: ".";
        display: block;
        overflow: hidden;
        visibility: hidden;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
    }
    &:before {
        clear: both;
    }
    /* <IE7> */
    *zoom: 1;
    /* <IE7> */
}

.clearfix {
    .clearfixed();
}

.float(@direction:left){
    float:@direction;
    width: auto;
    display: block;
}

/* alias */
.floating(@direction:left){
    .float(@direction);
}

.f-left{
    .floating(left);
}
.f-right{
    .floating(right);
}
